body{ }
.header{ background-color: #166bbd; text-align: center; padding:30px; color: white;}
.clear{ clear:both; }
.nav{ background-color: #0c5187; text-align: center; padding:20px; margin-top: -20px; 
	  color: white;}
.container{display: flex;
           flex-direction: row;
          }
.main{ width: 71%; background-color:#16A2C5; text-align: center; margin-top: -20px;
        height: 500px; color: white;}
.aside{ width: 29%; background-color:#5275AD; text-align: center; margin-top: -20px;
        height: 500px; color: white;}
.footer{ text-align: center; background-color: lightblue; margin-top: -20px; height: 55px;
         padding:30px; color: white; }
@media screen and (max-width: 500px)
{
	body{
		background: red;
        }
}



